<!--Autor: Lic.Rubén Dario Vásque Alvarez-->
<html>
<head>
	<title>Predicción DT2</title>
	<!---Poner iconos -->
	<link href="https://fonts.googleapis.com/css?family=Heebo" rel="stylesheet">
	<!--Fuente-->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
	<link rel="stylesheet" href="../static/css/styles.css">
	
</head>
<body onload="mostrar_pie_chart()">

	 <div id="cabecera">
	 	<div class="logo">


	 		<img src="../static/images/unmsm.png" alt="" class="img_logo">
	 		<h4>PREDICCIÓN TEMPRANA DE DIABETES TIPO 2</h4>
	 		
	 	</div>


	 </div>

	<div id="contenedor">
		
			<div class="contenedor-menu">
				<!--Disposivo movil-->
				<a href="#" class="btn-menu">MENU<i class="icono fas fa-bars"></i></a>

				<ul class="menu">
					<li><a href="/"><i class="icono izquierda fas fa-home"></i>Home</a></li>
					<li><a href="/info"><i class="icono izquierda fas fa-info-circle"></i>About the project</a></li>
					<li><a href="/imc"><i class="icono izquierda fas fa-heartbeat"></i>Body mass index calculator</a></li>
					<li><a href="/soft"><i class="icono izquierda fas fa-chart-line"></i>Software</a></li>
					<li class="activado"><a href="/esta"><i class="icono izquierda fas fa-chart-bar"></i>Statistics</a></li>

				</ul>
			</div>

			<div class="contenido">

					<div id="titulo-cont">

					<div class="dere"><img src="../static/images/mat.png" alt="" height="40" width="40">
					<img src="../static/images/logomejorado.png" alt=""  height="40" width="80" ></div>
					
					</div>

			<div id="note">

					<div class="note-comp">
						<div class="note-mita-title">STATISTICS</div>
						<div class="note-mita-izq-pane">
							<div id="pie_chart" class="grafica"></div>

						</div>
					</div>

					
			</div>
			<br>
		
					

			</div>
			
			
	</div>


	<script src="../static/js/jquery.js"></script>
	<script src="../static/js/main.js"></script>
	<script src="../static/js/cpd.js"></script>
</body>

</html>