<!--Autor: Lic.Rubén Dario Vásque Alvarez-->
<html>
<head>
	<title>Predicción DT2</title>
	<link href="https://fonts.googleapis.com/css?family=Heebo" rel="stylesheet">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
	<link rel="stylesheet" href="../static/css/styles.css">
	
</head>
<body>

	 <div id="cabecera">
	 	<div class="logo">


	 		<img src="../static/images/unmsm.png" alt="" class="img_logo">
	 		<h4>PREDICCIÓN TEMPRANA DE DIABETES TIPO 2</h4>
	 		
	 	</div>


	 </div>

	<div id="contenedor">
		
			<div class="contenedor-menu">
				<!--Disposivo movil-->
				<a href="#" class="btn-menu">MENU<i class="icono fas fa-bars"></i></a>
				

				<ul class="menu">
					<li><a href="/"><i class="icono izquierda fas fa-home"></i>Home</a></li>
					<li class="activado"><a href="/info"><i class="icono izquierda fas fa-info-circle"></i>About the project</a></li>
					<li><a href="/imc"><i class="icono izquierda fas fa-heartbeat"></i>Body mass index calculator</a></li>
					<li><a href="/soft"><i class="icono izquierda fas fa-chart-line"></i>Software</a></li>
					<li><a href="/esta"><i class="icono izquierda fas fa-chart-bar"></i>Statistics</a></li>
				</ul>
			</div>

			<div class="contenido">

					<div id="titulo-cont">

					<div class="dere"><img src="../static/images/mat.png" alt="" height="40" width="40">
					<img src="../static/images/logomejorado.png" alt=""  height="40" width="80" ></div>
					
					</div>
					


						<div id="note">
						
							<div class="note-comp">
								<div class="note-mita-title">INTRODUCTION</div>
								<div class="note-mita-izq-pane">

							<p ALIGN="justify">Type 2 diabetes (DT2) is a multifactorial disease considered a pandemic. In Peru, the incidence of this disease has been increasing in recent years. In addition, it is worrying that approximately 50% of people with DT2 do not know that they have developed it. Thus, the early prediction of diabetes is a relevant action to reduce the growth of its incidence. Currently, methods based on Machine Learning are being used for the prediction of multifactorial diseases such as diabetes.</p>

								</div>
						</div>

						
						</div>

						<div id="note">
						
							<div class="note-comp">
								<div class="note-mita-title">GOALS</div>
								<div class="note-mita-izq-pane">

							<p ALIGN="justify">The web tool allows the prediction of type 2 diabetes using anthropometric measurements, biochemical markers and eight genetic polymorphisms (GNP) as predictor variables.
This research has two objectives, the first of which consists of the prediction of DT2 with the use of AdaBoost as an optimizer of a weak classifier (decision tree) and a set of predictors comprising biochemical variables, Anthropometric measurements and eight single nucleotide polymorphisms rs10830963 (MTNR1B), rs10865710 (PPARG), rs12255372 (TCF7L2), rs4402960 (IGF2BP2), rs11642841 (FTO), rs8050136 (FTO), SNP19(CAPN10).</p>

								</div>
							</div>

						
						</div>

			</div>

		
	</div>







	<script src="../static/js/jquery.js"></script>
	<script src="../static/js/main.js"></script>
</body>

</html>